/*页面总宽度*/
#wrap {
  width: 100%;
  min-width: 1280px;
  margin: 0 auto;
}

/*主体内容宽度*/
.inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/*头部区域*/
.header {
  position: relative;
}
.top {
  /* position: absolute; */
  /* z-index: 9; */
  /* top: 0; */
  width: 100%;
  background-color: #ffffff;
  padding: 0 40px;
  box-sizing: border-box;
}
.titles img {
  width: 100%;
  display: block;
}
.top .inner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top .logo {
  float: left;
  cursor: pointer;
}
.top .logo img {
  width: 50%;
}
.top .nav1 {
  float: right;
}
.top .nav1 li {
  float: left;
}
.top .nav1 li a {
  display: block;
  padding: 0 16px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: #999;
  transition: all 0.3s;
}
.top .nav1 li a.on,
.top .nav1 li a:hover {
  background: #888;
}

/*banner*/
.banner img {
  width: 100%;
  vertical-align: bottom;
}

/*main*/

.main {
  min-height: 100vh; /* 全屏高度 */
  background-image: url("/images/backgroud.png");
  background-position: right bottom; /* 右下角 */
  background-repeat: no-repeat; /* 不重复 */
  background-size: auto; /* 保持原图大小（默认）或自定义 */
}

/*title*/
.title {
}
.title h1 {
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

/*contain*/
.container {
  margin-top: 24px;
}
.dsn {
  display: none;
}
.pjz {
  text-align: center;
}

/*content*/
.content {
  /* width: 1000px; */
  min-height: 500px;
  font-size: 16px;
  background: #ffffff;
}
.imgBox {
  padding-top: 50px;
}
.imgBox:last-child {
  padding-bottom: 50px;
}

.block {
  height: 300px;
  background: #f47937;
  margin-bottom: 20px;
}

/*版权*/
.copyright {
  margin: 0px auto 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #000;
  font-size: 12px;
  background: #f6d001;
}
.copyright img {
  vertical-align: text-bottom;
}

/*回到顶部*/
#goToTop {
  position: fixed;
  right: 20px;
  z-index: 9000;
  bottom: 30px;
}
#goToTop a {
  background: none repeat scroll 0 0 #ddd;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-border-radius: 50px;
  color: #ff9966;
  font-size: 14px;
  text-decoration: none;
  text-shadow: 0 1px 0 #999;
  -webkit-text-shadow: 0 1px 0 #999;
}
#goToTop a {
  padding: 10px;
  display: inline-block;
  letter-spacing: 10px;
  text-align: center;
}
#goToTop a:hover {
  background: none repeat scroll 0 0 #999;
}

/*地图*/
.map {
  width: 100%;
  margin: 0 auto;
  height: 500px;
}
.map .map-div {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/*网页分享*/
.bdsharebuttonbox {
  position: fixed;
  left: 10px;
  bottom: 15px;
}
